on:
  push:
    tags:
      - 'v*'

name: Latest Release

defaults:
  run:
    shell: bash

jobs:
  release:
    name: Create Release
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.27.0
      - name: Run cross-compile
        run:
          ./cross_compile.sh
      - name: Release Notes
        run:
          git log $(git describe HEAD~ --tags --abbrev=0)..HEAD --pretty='format:* %h %s%n  * %an <%ae>' --no-merges > ".github/RELEASE-TEMPLATE.md"
      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          body_path: ".github/RELEASE-TEMPLATE.md"
          draft: true
          files: |
            x86_64-unknown-linux-gnu-dim
            aarch64-apple-darwin-dim
            x86_64-apple-darwin-dim
            x86_64-pc-windows-msvc-dim.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
